/* Display Transactions */

.display-transactions {
    &__list {
        padding: 0;
        list-style-type: none;
    }

    &__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 12px;
        border: 1px solid rgba(0, 0, 0, 0.144);
        border-left: 0;
        border-right: 0;
        border-top: 0;

        &:nth-child(2n) {
            background: $body-background;
        }
    }

    &__item-column {
        margin: 0 6px;
        overflow-wrap: break-word;
    }

    &__item-date {
        width: 15%
    }

    &__item-description {
        width: 35%;
    }
    
    &__item-amount {
        width: 15%;
    }

    &__item-category {
        width: 35%;
    }

    @media (max-width: 540px) {
        &__item {
            flex-wrap: wrap;
        }

        &__item-column {
            flex-grow: 1;
            margin: 0;
        }

        &__item-date {
            width: 30%
        }
    
        &__item-description {
            width: 60%;
        }
        
        &__item-amount {
            width: 30%;
        }
    
        &__item-category {
            width: 30%;
        }

        &__item-delete {
            width: 30%;
            text-align: right;
        }
    }

    @media (max-width: 400px) {
        &__item {
            flex-flow: column nowrap;
        }

        &__item-column {
            width: 100%;
            text-align: center;
            margin: 0.2em 0;
        }
    }
}

.no-transactions {
    &__lead {
        font-size: 1.4em;
        text-align: center;
    }

    &__emphasize {
        font-weight: 700;
        margin-left: 0.1em;
    }

    li {
        margin: 1em 0;
    }
}