html {
    font-size: 62.5%;
}

body {
    background: $body-background;
    font-family: 'Roboto Slab', sans-serif;
    font-size: $font-size;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

a {
    color: $secondary;
    text-decoration: none;

    &:hover {
        color: $primary;
    }
}

.wrapper {
    max-width: $wrapper-width;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.container {
    flex: 1 1 auto; // Grow to full page height
    display: flex;
    flex-flow: row nowrap;
}

.container-content {
    flex: 1 1 auto; // Grow to full width
    display: flex;
    flex-flow: row nowrap;
}

.sidebar {
    width: 30%;
    padding: 24px 48px 24px 0;
    background: #fafafa;

    h2 {
        font-size: 2.4rem;
        margin: 0.83em 0;
    }
}

.main {
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-top: 0;
    border-bottom: 0;
    padding: 24px 48px;
    background: white;
}

.input-field {
    border-radius: 5px;
    border: 0;
    padding: 0 0.5em;
}

.button {
    padding: 4px 8px;
    border-radius: 5px;
    border: 0;
    text-transform: lowercase;
    margin: 0 24px;
    background: $secondary;
    color: white;
}

.spending-stats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 2rem;

    p {
        margin-bottom: 0.4rem;
    }
}