html {
    font-size: 62.5%;
}

body {
    background: $body-background;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.6rem;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.wrapper {
    max-width: $wrapper-width;
    margin: 0 auto;
}

.container {
    flex: 1 1 auto; // Grow to full page height
    display: flex;
    flex-flow: row nowrap;
}

.container-content {
    flex: 1 1 auto; // Grow to full width
    display: flex;
    flex-flow: row nowrap;
}

.sidebar {
    width: 30%;
    padding: 24px 48px 24px 0;
    background: #fafafa;
}

.main {
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-top: 0;
    border-bottom: 0;
    padding: 24px 48px;
    background: white;
}