.preview-transaction {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    transition: bottom 0.3s ease;

    p {
        background: $primary;
        color: white;
        padding: 0.5em 1em;
        border-radius: 5px;
        margin: 0.5em 1em;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
}

.preview-transaction--show {
    bottom: 49px;
}